# IntelliJ
.idea/**

.gitignore

node_modules/**

SOEN341-G4.iml
Documentation/ProjectReport/~$Agile-test-plan.xlsx

Documentation/ProjectReport/~$ojectReport.docx

Documentation/ProjectReport/~$tHub Monitoring - Release.docx
