#view-source {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}
.mdl-layout__header{
	min-height: 34px;
}

.demo-list-icon {
	width: 300px;
}

.chart{
	width:100%;
  margin-right: 5px
  margin-left: 5px;
}
.dataTable{
  width:48%;
  margin: 0px auto;
  margin-right: 10px;
  float: left;
  /*float:left;
  border: 1px solid #ff0000;
  display:inline-block;
  vertical-align: middle;*/
}
.canvas{
  width:30%;
  margin: 0px auto;
  margin-right: 10px;
  float: left;
  /*float:right;
  display:inline-block;
  vertical-align: middle;
  border: 1px solid #ff0000;*/
}
.dataTable_in{
  width:100%;
  overflow-x: auto;
}
.chart_in{
  background: #f3f3f3;
  border-radius: 5px;
  margin: 10pt 10px 10px 10px;
  padding:10pt 10pt 10pt 10pt;
}
.canvas_in{
  width: 30%;
  padding: 5px 0px 5px 0px;
}
.burndownCanvas{
	width: 96%;
}
.ind_radio{
  background: #f3f3f3;
  border-radius: 5px;
  margin: 10pt 10pt 10pt 10pt;
  padding: 1pt 10pt 1pt 10pt;
  min-width: 200pt;
  max-width: 300pt;
}
.collaborators{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border: 1px solid #000;
}
.issues{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border: 1px solid #000;
}
.commits{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border: 1px solid #000;
}
.tbl {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 95%;
}
.td_s, .th_s {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
.tr_s:nth-child(even) {
    background-color: #dddddd;
}

.indr_tbl {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color: #b3d4fc;
  width:100%;
}
.indr_td_s, .indr_th_s {
  border: 1px solid #f3f3f3;
  text-align: left;
  min-width: 100px;
  padding: 8px;
}
.indr_tr_s:nth-child(even) {
    background-color: #dddddd;
}

.ChartType{
	border: 1px solid #dddddd;
  padding: 5pt 10pt 5pt 10pt;
	background: #b3d4fc;
	border-radius: 3px;
	color: #232323;
}
.mdl-layout-back{
	display: block;
    position: relative;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    box-sizing: border-box;
    padding-right: 10px;
}

.wrapper {
  margin: 0px auto;
  width: 100%;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 24px;
}
.tabs{
	list-style-type: none;
	padding: 1px 1px 1px 1px;
}
.tabs li {
  float: left;
  width: 10%;
  margin: 5px 1px 5px 1px;
}
.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #888;
  padding: 10px 0;
  border-bottom: 2px solid #888;
  background: #f7f7f7;
}
.tabs a:hover,
.tabs a.active {
  background: #ddd;
}
.tabgroup div {
  padding: 5px;
  /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);*/
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.mdl-textfield {
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width:80%;
    margin: 0 auto;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}
.mdl-textfield.gray{
	background-color: #fff;
}