#view-source {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 40px;
	margin-bottom: 40px;
	z-index: 900;
}

.demo-list-icon {
	width: 300px;
}

.chart{
	width:100%;
	margin: 20pt 0px 0px 20px;
}
.burndownCanvas{
	width: 80%;
}
.canvas{
	width: 30%;
	padding: 5px 0px 5px 0px;
}
.collaborators{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border: 1px solid #000;
}
.issues{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border: 1px solid #000;
}
.commits{
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border: 1px solid #000;
}
.tbl {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 95%;
}
.td_s, .th_s {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
.tr_s:nth-child(even) {
    background-color: #dddddd;
}
.ChartType{
	border: 1px solid #dddddd;
	background: #424242;
	border-radius: 3px;
	color: #ffffff;
}