.page-content {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.mdl-list__item {
    min-height: 10px !important;
}
.mdl-badge[data-badge]:after {
    top: -4px !important;
    right: -60px !important;
    width: 50px;
}
input[type=radio] {
    border: 2px solid rgb(63,81,181);
}
h3 {
    font-size: 35px;
    color: #555;
}
h2 {
    font-size: 30px;
    color: #555;
}
.tabs {
    margin: 0;
}
textarea[id="ta-comments"] {
    resize: none;
}

input[type="checkbox"]#commitsPerCollaboratorCheck {
    border: 10px solid #b32e2e;
    text-align: center;
    color: #eee;
}
.mdl-button[for="search"] {
    display: none;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
    color: #ffffff;
}
.page-content > h2:first-child, .page-content #tab1 h2 {
    margin-left: 20px;
    margin-bottom: 0;
}
.over_filters, .ind_radio, .weekly_radio {
    margin-left: 20px;
}
#collaborators h2 {
    margin-bottom: 0;
}
#collaborators > ul:first-child {
    display: none;
}
#avatar-image {
    text-align: center;
    padding-top: 0;
}
.demo-avatar:hover, .demo-avatar:focus, .demo-avatar:active {
    border-radius: 0px;
}
#collaborators > ul {
    display: none;
}
#username > h5 {
    margin-bottom: 0;
    margin-top: 0;
}
#weekly1_commitsChart > h3 {
    margin-top: 0;
}
#show-action > i {
    margin-bottom: 5px;
}
body > div > div > header > div.mdl-layout__header-row > span {
    margin-left: 10px;
}