html {
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa url(../img/bg/grey.png);
}
#adminNavbar {
    background-color: #222;
    border-color: #cfcfcf;
    font-weight: bold;
}

#site-footer {
    border-top: 1px solid #cfcfcf;
    padding: 2em;
    font-size: .9rem;
}
#nav-item, #nav-item li button {
    font-weight:bold;
}
#nav-item li:not(:last-child) {
    margin-bottom: 1em;
}
#btn-override {
    border: 1px solid transparent;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    padding: 4px 16px 5px;
    font-size: 16px;
    line-height: 1.5625;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sidebar {
    background-color: #fff;
    box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
    -webkit-border-radius: 3px;
}
table {
    background-color: #fff;
}
.navbar-toggle {
    margin-top: 8px !important;
    margin-right: 10px !important;
}
.margin-top-bottom {
    margin-top: 1em;
    margin-bottom: 1em;
}
.margin2-bottom {
    margin-bottom: 1em;
}